mixin contacts(contacts_options)
  .contacts
    .contacts__inner.s-aligner
      h1(class=[
        'contacts__heading',
        's-heading'
      ])= contacts_options.heading
      ul.contacts__list
        mixin contacts__item(contactsList_options)
          li.contacts__item(class=`contacts__item--${contactsList_options.modifier}`)
            h3.contacts__caption= contactsList_options.caption
            span.contacts__text
              block
        +contacts__item({
          modifier: 'address',
          caption: 'Адрес'
        })
          | 115088, Москва, ул. Угрешская, д.2, стр.53
        +contacts__item({
          modifier: 'phone',
          caption: 'Телефон'
        })
          a.contacts__link(href='tel:+74956645520')
            | +7 (495) 664-55-20
        +contacts__item({
          modifier: 'email',
          caption: 'E-mail'
        })
          a.contacts__link(href='mailto:info@opton.ru')
            | info@opton.ru
      form.contacts__form(
        name='question'
        action='https://echo.htmlacademy.ru'
        method='POST'
      )
        ul.contacts__form-list
          li.contacts__form-item.contacts__form-item--firstname
            +form-item({
              tag: 'input',
              type: 'text',
              id: 'firstname',
              text: 'Имя',
              isRequired: true
            })
          li.contacts__form-item.contacts__form-item--lastname
            +form-item({
              tag: 'input',
              type: 'text',
              id: 'lastname',
              text: 'Фамилия'
            })
          li.contacts__form-item.contacts__form-item--telephone
            +form-item({
              tag: 'input',
              type: 'tel',
              id: 'telephone',
              text: 'Номер телефона',
              isRequired: true
            })
          li.contacts__form-item.contacts__form-item--email
            +form-item({
              tag: 'input',
              type: 'email',
              id: 'email',
              text: 'Email',
              isRequired: true
            })
          li.contacts__form-item.contacts__form-item--textarea
            +form-item({
              tag: 'textarea',
              id: 'message',
              text: 'Введите текст',
              isRequired: true
            })
        .contacts__button
          +button({
            typeModifier: 'send'
          })
