-
  const FONT_SETS = {
    'roboto': {
      weightSizes: [300, 400, 500, 700, 900],
      styleNames: ['normal'],
    },
  };

each value, key in FONT_SETS
  each weightValue in value.weightSizes
    each styleValue in value.styleNames
      link(
        rel='preload',
        href=`fonts/${key}-${weightValue}-${styleValue}.woff2`,
        as='font',
        crossorigin='anonymous',
      )
