mixin form-item(formItem_options)
  .form-item
    label.visually-hidden(
      for=formItem_options.id
    )= formItem_options.text
    case formItem_options.tag
      when 'textarea'
        textarea.form-item__field(
          id=formItem_options.id
          placeholder=formItem_options.text
        )
      default
        input.form-item__field(
          type=formItem_options.type
          id=formItem_options.id
          name=formItem_options.id
          placeholder=formItem_options.text
        )
