mixin modal(modal_options)
  section.modal
    .modal__overlay
    .modal__container
      h2.visually-hidden Форма заявки
      button.modal__close-button(class=`${modal_options.parentBlockClassname}-closer`)
      picture
        source(
          media=viewportMediumMinWidth
          srcset='img/modal__image--medium.jpg'
        )
        img.modal__image(
          src='img/modal__image--small.jpg'
          alt='Изображение товара'
        )
      p.modal__tip
        | Вы выбрали для заказа модель ZEISS GageMax navigator. Для завершения оформления, пожалуйста, заполните несколько полей ниже для дальнейшей связи с Вами.
      form.modal__form(
        name='order'
        action='https://echo.htmlacademy.ru'
        method='POST'
      )
        .modal__form-item.modal__form-item--fullname
          +form-item({
            tag: 'input',
            type: 'text',
            id: 'fullname',
            text: 'Имя'
          })
        .modal__form-item.modal__form-item--email
          +form-item({
            tag: 'input',
            type: 'email',
            id: 'email',
            text: 'Email'
          })
        .modal__form-item.modal__form-item--telephone
          +form-item({
            tag: 'input',
            type: 'tel',
            id: 'telephone',
            text: 'Номер телефона'
          })
        .modal__form-item.modal__form-item--company
          +form-item({
            tag: 'input',
            type: 'text',
            id: 'company',
            text: 'Организация'
          })
        .modal__button
          +button({
            typeModifier: 'send'
          })
