mixin order-request()
  section.order-request
    .order-request__overlay.modal__overlay
    .order-request__container
      h2.visually-hidden Форма заявки
      button.order-request__close-button.modal__close-button
      picture
        source(
          media=viewportMediumMinWidth
          srcset='img/order-request__image--medium.jpg'
        )
        img.order-request__image(
          src='img/order-request__image--small.jpg'
          alt='Изображение товара'
        )
      p.order-request__tip
        | Вы выбрали для заказа модель ZEISS GageMax navigator. Для завершения оформления, пожалуйста, заполните несколько полей ниже для дальнейшей связи с Вами.
      form.order-request__form(
        name='order'
        action='https://echo.htmlacademy.ru'
        method='POST'
      )
        .order-request__form-item.order-request__form-item--fullname
          +form-item({
            tag: 'input',
            type: 'text',
            id: 'fullname',
            text: 'Имя'
          })
        .order-request__form-item.order-request__form-item--email
          +form-item({
            tag: 'input',
            type: 'email',
            id: 'email',
            text: 'Email'
          })
        .order-request__form-item.order-request__form-item--telephone
          +form-item({
            tag: 'input',
            type: 'tel',
            id: 'telephone',
            text: 'Номер телефона'
          })
        .order-request__form-item.order-request__form-item--company
          +form-item({
            tag: 'input',
            type: 'text',
            id: 'company',
            text: 'Организация'
          })
        .order-request__button
          +button({
            typeModifier: 'send'
          })
