mixin product-card(componentModifier, itemNumber, imageLegend, captionStack)
  .product-card(class=`product-card--${componentModifier}`)
    img.product-card__image(
      src=`img/product-card__image--${itemNumber}`
      alt=`${imageLegend} №${itemNumber}`
    )
    .product-card__text
      h3.product-card__caption= captionStack[itemNumber - 1]
      a.product-card__link(href='#') Подробнее
