mixin promo()
  header.promo
    .promo__slider.slider
      .promo__slider-wrapper
        .promo__list.slider__body
          mixin promo__item(promoItem_options)
            .promo__item(class=`promo__item--${promoItem_options.number}`)
              .promo__image-wrapper
                img.promo__image(
                  src='img/promo__image.jpg'
                  alt=`Слайд №' ${promoItem_options.number}`
                )
              .promo__inner.aligner
                h3.promo__title= promoItem_options.title
                p.promo__subtitle= promoItem_options.subtitle
          each value, index in promoItemsData
            +promo__item({
              number: index + 1,
              title: value.title,
              subtitle: value.subtitle
            })
      .promo__slider-controls.slider__controls
        .slider__controls-wrapper
