mixin service-card(serviceCard_options)
  .service-card(class=`service-card--${serviceCard_options.componentModifier}`)
    a.service-card__link(href='#')
      picture
        source(
          media=viewportMediumMinWidth
          srcset=`img/${serviceCard_options.componentModifier}-service-card__image--${serviceCard_options.itemNumber}-medium.jpg`
        )
        img.service-card__image(
          src=`img/${serviceCard_options.componentModifier}-service-card__image--${serviceCard_options.itemNumber}-small.jpg`
          alt=serviceCard_options.captionStack[serviceCard_options.itemNumber - 1]
        )
      .service-card__text
        h3.service-card__caption= serviceCard_options.captionStack[serviceCard_options.itemNumber - 1]
